.day-card {
  display: flex;
  align-items: center;
  gap: 12px;

  min-width: 350px;
  width: 100%;
  max-width: 350px;
  min-height: 80px;
  padding: 12px 16px;

  background: #fff;
  border-radius: 12px;

  border: 1px solid var(--border);
  box-shadow: var(--shadow);

  transition: transform .35s ease, box-shadow .35s ease;
  cursor: pointer;
}

.day-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 18px 35px rgba(193, 18, 31, 0.18), 0 0 24px rgba(193, 18, 31, 0.14);
}

.icon-wrapper {
  width: 40px;
  height: 40px;
  min-width: 40px;

  background: var(--primary);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;

  box-shadow: 0 4px 10px rgba(193, 18, 31, 0.3);
  transition: transform 0.3s ease;
}

.calendar-icon {
  font-size: 18px;
  color: white;
  transition: transform 0.3s ease;
}

.day-card:hover .calendar-icon {
  transform: translateY(-2px) scale(1.08);
}

.day-content {
  flex: 1;
  min-width: 0;
}

.day-content h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #1d1d1d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.day-content p {
  margin-top: 4px;
  font-size: 16px;
  color: #555;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
